* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/*Tipos de Radius*/
.border-logo {
  border-radius: 50% !important;
  border: solid white;
  box-shadow: 0.5px 0.5px 10px #ffffff; }

.border-main {
  border-radius: 8px; }

.border-container-bottom {
  border-bottom-style: solid;
  box-shadow: 3px 2px 6px #a59191; }

.border-container-top {
  border-top-style: solid;
  box-shadow: 3px 2px 6px #a59191; }

.flex-center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important; }

.flex-space-between {
  display: flex;
  justify-content: space-between; }

.flex-space-around {
  display: flex;
  justify-content: space-around; }

.flex-space-evenly {
  display: flex;
  justify-content: space-evenly; }

.flex-row {
  display: flex;
  flex-direction: row; }

.flex-column {
  display: flex;
  flex-direction: column; }

.flex-wrap {
  display: flex;
  flex-wrap: wrap; }

/*grid principal*/
#grid-general {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto; }
  #grid-general .header-grid {
    grid-area: header; }
  #grid-general .main-grid {
    grid-area: main; }
  #grid-general .footer-grid {
    grid-area: footer; }

/*grid del contenido*/
#grid-main {
  display: grid;
  grid-template-areas: "main1" "main2";
  grid-template-columns: auto;
  grid-template-rows: 2fr 2fr; }
  #grid-main .main1-grid {
    grid-area: main1;
    background-color: #616161; }
  #grid-main .main2-grid {
    grid-area: main2; }

/*grid del contenido contactanos*/
#grid-main-contactanos {
  display: grid;
  grid-template-areas: "main1" "main2";
  grid-template-columns: auto;
  grid-template-rows: 0.8fr 2fr; }
  #grid-main-contactanos .main1-grid {
    grid-area: main1;
    background-color: #616161; }
  #grid-main-contactanos .main2-grid {
    grid-area: main2; }

/*grid del contenido sobre nosotros*/
#grid-main-sobrenosotros {
  display: grid;
  grid-template-areas: "title img" "lorem img";
  grid-template-columns: 75% 25%;
  grid-template-rows: auto auto; }
  #grid-main-sobrenosotros .title-grid {
    grid-area: title; }
  #grid-main-sobrenosotros .img-grid {
    grid-area: img; }
  #grid-main-sobrenosotros .lorem-grid {
    grid-area: lorem; }

/*Animacion para las redes*/
@keyframes networks {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-0.4rem); }
  100% {
    transform: translateY(0); } }

.animation-networks {
  position: relative; }
  .animation-networks:hover {
    animation: networks 0.4s ease-in-out;
    transform: translateY(0); }

/*Animacion de imagenes de muestra del principio*/
.container-main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .container-main .box-animated {
    position: relative;
    width: 20rem;
    height: 21rem;
    margin: 3rem; }
    .container-main .box-animated:hover .box-img {
      transform: translate(-1.3rem, -1.3rem); }
    .container-main .box-animated:hover .box-txt {
      transform: translate(-2.8rem, -2.8rem); }

.box-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s ease-in-out; }
  .box-img img {
    object-fit: cover;
    resize: both; }

.box-txt {
  position: absolute;
  transition: all 0.5s ease-in-out; }
  .box-txt h2 {
    color: white;
    opacity: 0.45;
    text-shadow: 1px 1px 6px white; }

/*Animacion de imagenes de ventas*/
.card-sale {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px; }
  .card-sale:hover .card-content {
    transform: rotateY(180deg); }

.card-content {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d; }

.card-img,
.card-price {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 15px; }

.card-img {
  background-image: linear-gradient(130deg, #000000, #ffffff); }
  .card-img img {
    width: 230px;
    margin-top: 0.5rem; }

.card-price {
  background-image: linear-gradient(720deg, #000000, #ffffff);
  transform: rotateY(180deg); }
  .card-price img {
    width: 165px;
    margin-top: 1rem; }
  .card-price h2 {
    margin-bottom: 0.3rem; }
  .card-price h3 {
    margin: 0; }

/*Animacion logo*/
@keyframes logo {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0.9); }
  100% {
    transform: scale(1); } }

.animation-logo {
  position: relative; }
  .animation-logo:hover {
    animation: logo 0.4s ease;
    transform: scale(1); }

/*Animacion de todas las pages*/
@keyframes index {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.animation-index {
  animation: index 1s ease-in-out;
  opacity: 1;
  background-color: #1d1d1d; }

.size-logo {
  height: 220px;
  width: 220px; }

.size-img {
  height: 100%;
  width: 100%; }

.size-fc {
  height: 55px;
  width: 55px; }

.size-ig {
  height: 60px;
  width: 80px; }

.size-tk {
  height: 60px;
  width: 60px; }

.size-wp {
  height: 190px;
  width: 190px; }

.size-carousel {
  width: 55% !important;
  height: 55% !important; }

/*diferentes sizes*/
.size-txt-1 {
  font-size: 20px; }

.size-txt-2 {
  font-size: 30px; }

.size-txt-3 {
  font-size: 40px; }

.size-txt-4 {
  font-size: 55px; }

.size-txt-5 {
  font-size: 150px; }

.size-txt-6 {
  font-size: 25px; }

/*Fuentes*/
.font-general {
  font-family: Calibri; }

.font-titles {
  font-family: "Times New Roman", Times, serif; }

body {
  background-color: #1d1d1d; }

.border-color {
  border-color: #ece3e3; }

/*Gameta de colores de txt*/
.color-txt {
  color: white; }

.color-title {
  color: black; }

strong {
  text-shadow: 1px 1px 3px white;
  color: black; }

.position-main {
  position: relative; }
  .position-main .position-title {
    position: absolute;
    top: 3rem;
    left: 10rem; }
  .position-main .position-subtitle {
    position: absolute;
    top: 11.5rem;
    left: 17rem; }
  .position-main .position-logo {
    position: absolute;
    top: 3rem;
    left: 90rem; }
  .position-main .position-p {
    position: absolute;
    top: 20rem;
    left: 6rem; }

@media screen and (max-width: 720px) {
  /*Grids tablet*/
  #grid-general {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto; }
  #grid-main {
    grid-template-columns: 100%;
    grid-template-rows: 17rem auto; }
  #grid-main-contactanos {
    grid-template-columns: 100%;
    grid-template-rows: auto auto; }
  #grid-main-sobrenosotros {
    grid-template-areas: "title" "lorem";
    grid-template-columns: 100%;
    grid-template-rows: auto auto; }
    #grid-main-sobrenosotros .title-grid {
      grid-area: title;
      background-color: #616161; }
  /*sizes objetos*/
  .size-logo {
    height: 130px;
    width: 130px; }
  .size-wp {
    height: 150px;
    width: 150px; }
  /*sizes textos*/
  .size-txt-1 {
    font-size: 20px; }
  .size-txt-2 {
    font-size: 20px; }
  .size-txt-3 {
    font-size: 30px; }
  .size-txt-4 {
    font-size: 50px; }
  .size-txt-5 {
    font-size: 110px; }
  .size-txt-6 {
    font-size: 20px; }
  /*card ventas size*/
  .card-sale {
    width: 230px;
    height: 230px; }
  .card-price img {
    width: 120px; }
  .card-img img {
    width: 200px; }
  /*Pocisiones*/
  .position-main {
    position: relative; }
    .position-main .position-title {
      position: absolute;
      top: 1rem;
      left: 12rem; }
    .position-main .position-subtitle {
      position: absolute;
      top: 7rem;
      left: 16rem; }
    .position-main .position-logo {
      position: absolute;
      top: 1rem;
      left: 1rem; }
    .position-main .position-p {
      position: absolute;
      top: 11rem;
      left: 0.5rem; }
  /*animacion del index*/
  .container-main {
    height: 100%;
    width: 100%; }
    .container-main .box-animated:hover .box-img {
      transform: translate(-1.3rem, -1.3rem); }
    .container-main .box-animated:hover .box-txt {
      transform: translate(-1.8rem, -2.8rem); }
  /*modificacion del flex-row*/
  .flex-row {
    flex-wrap: wrap; } }

@media screen and (max-width: 480px) {
  /*Grids mobile*/
  #grid-general {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto; }
  #grid-main {
    grid-template-columns: 100%;
    grid-template-rows: 17rem auto; }
  #grid-main-contactanos {
    grid-template-columns: 100%;
    grid-template-rows: auto auto; }
  #grid-main-sobrenosotros {
    grid-template-areas: "title" "lorem";
    grid-template-columns: 100%;
    grid-template-rows: auto auto; }
    #grid-main-sobrenosotros .title-grid {
      grid-area: title;
      background-color: #616161; }
  /*sizes objetos*/
  .size-logo {
    height: 90px;
    width: 90px; }
  .size-wp {
    height: 150px;
    width: 150px; }
  /*sizes textos*/
  .size-txt-1 {
    font-size: 20px; }
  .size-txt-2 {
    font-size: 20px; }
  .size-txt-3 {
    font-size: 30px; }
  .size-txt-4 {
    font-size: 30px; }
  .size-txt-5 {
    font-size: 70px; }
  .size-txt-6 {
    font-size: 20px; }
  /*card ventas size*/
  .card-sale {
    width: 170px;
    height: 170px; }
  .card-price img {
    width: 90px; }
  .card-img img {
    width: 150px; }
  /*Pocisiones*/
  .position-main {
    position: relative; }
    .position-main .position-title {
      position: absolute;
      top: 0.4rem;
      left: 7rem; }
    .position-main .position-subtitle {
      position: absolute;
      top: 4.4rem;
      left: 7rem; }
    .position-main .position-logo {
      position: absolute;
      top: 1rem;
      left: 1rem; }
    .position-main .position-p {
      position: absolute;
      top: 8rem;
      left: 0.5rem; }
  /*animacion del index*/
  .container-main {
    height: 100%;
    width: 100%; }
    .container-main .box-animated:hover .box-img {
      transform: translate(-1.3rem, -1.3rem); }
    .container-main .box-animated:hover .box-txt {
      transform: translate(-1.8rem, -2.8rem); } }
