/*Gameta de colores de txt*/

$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);


.color-txt {
    color: $white;
}

.color-title {
    color: $black;
}

strong {
    text-shadow: 1px 1px 3px rgb(255, 255, 255);
    color: $black;
}