/*diferentes sizes*/

$size-txt-1: 20px;
$size-txt-2: 30px;
$size-txt-3: 40px;
$size-txt-4: 55px;
$size-txt-5: 150px;
$size-txt-6: 25px;


.size-txt-1 {
    font-size: $size-txt-1;
}

.size-txt-2 {
    font-size: $size-txt-2;
}

.size-txt-3 {
    font-size: $size-txt-3;
}

.size-txt-4 {
    font-size: $size-txt-4;
}

.size-txt-5 {
    font-size: $size-txt-5;
}

.size-txt-6 {
    font-size: $size-txt-6;
}