.size-logo {
    height: 220px;
    width: 220px;
}

.size-img {
    height: 100%;
    width: 100%;
}

.size-fc {
    height: 55px;
    width: 55px;
}

.size-ig {
    height: 60px;
    width: 80px;
}
.size-tk {
    height: 60px;
    width: 60px;
}

.size-wp {
    height: 190px;
    width: 190px;
}

.size-carousel {
    width: 55% !important;
    height: 55% !important;
}