@media screen and (max-width: 480px) {

    /*Grids mobile*/

    #grid-general {
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
    }

    #grid-main {
        grid-template-columns: 100%;
        grid-template-rows: 17rem auto;
    }

    #grid-main-contactanos {
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
    }

    #grid-main-sobrenosotros {
        grid-template-areas: "title" "lorem";
        grid-template-columns: 100%;
        grid-template-rows: auto auto;

        .title-grid {
            grid-area: title;
            background-color: rgb(97, 97, 97);
        }
    }

    /*sizes objetos*/

    .size-logo {
        height: 90px;
        width: 90px;
    }

    .size-wp {
        height: 150px;
        width: 150px;
    }

    /*sizes textos*/

    $size-txt-1: 20px;
    $size-txt-2: 20px;
    $size-txt-3: 30px;
    $size-txt-4: 30px;
    $size-txt-5: 70px;
    $size-txt-6: 20px;

    .size-txt-1 {
        font-size: $size-txt-1;
    }

    .size-txt-2 {
        font-size: $size-txt-2;
    }

    .size-txt-3 {
        font-size: $size-txt-3;
    }

    .size-txt-4 {
        font-size: $size-txt-4;
    }

    .size-txt-5 {
        font-size: $size-txt-5;
    }

    .size-txt-6 {
        font-size: $size-txt-6;
    }

    /*card ventas size*/

    .card-sale {
        width: 170px;
        height: 170px;
    }

    .card-price {
        img {
            width: 90px;
        }
    }

    .card-img {
        img {
            width: 150px;
        }
    }

    /*Pocisiones*/

    .position-main {
        position: relative;

        .position-title {
            position: absolute;
            top: 0.4rem;
            left: 7rem;
        }

        .position-subtitle {
            position: absolute;
            top: 4.4rem;
            left: 7rem;
        }

        .position-logo {
            position: absolute;
            top: 1rem;
            left: 1rem;
        }

        .position-p {
            position: absolute;
            top: 8rem;
            left: 0.5rem;
        }
    }

    /*animacion del index*/

    .container-main {
        height: 100%;
        width: 100%;

        .box-animated {
            &:hover .box-img {
                transform: translate(-1.3rem, -1.3rem);
            }

            &:hover .box-txt {
                transform: translate(-1.8rem, -2.8rem);
            }
        }
    }
}