/*grid principal*/

#grid-general {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;

    .header-grid {
        grid-area: header;
    }

    .main-grid {
        grid-area: main;
    }

    .footer-grid {
        grid-area: footer;
    }
}

/*grid del contenido*/

#grid-main {
    display: grid;
    grid-template-areas: "main1" "main2";
    grid-template-columns: auto;
    grid-template-rows: 2fr 2fr;

    .main1-grid {
        grid-area: main1;
        background-color: rgb(97, 97, 97);
    }

    .main2-grid {
        grid-area: main2;
    }

}

/*grid del contenido contactanos*/

#grid-main-contactanos {
    display: grid;
    grid-template-areas: "main1" "main2";
    grid-template-columns: auto;
    grid-template-rows: 0.8fr 2fr;

    .main1-grid {
        grid-area: main1;
        background-color: rgb(97, 97, 97);
    }

    .main2-grid {
        grid-area: main2;
    }

}

/*grid del contenido sobre nosotros*/

#grid-main-sobrenosotros {
    display: grid;
    grid-template-areas: "title img" "lorem img";
    grid-template-columns: 75% 25%;
    grid-template-rows: auto auto;

    .title-grid {
        grid-area: title;
    }

    .img-grid {
        grid-area: img;
    }

    .lorem-grid {
        grid-area: lorem;
    }

}
