/*Distintos Radius*/

$sale: 8px;
$logo: 50%;
$green: rgb(111, 111, 111);


.border-logo {
    border-radius: $logo !important;
}

.border-sale{
    border-radius: $sale;
}

.border-container-bottom {
    border-bottom-style: solid;
    box-shadow: 3px 2px 6px #a59191;
}

.border-shadow-sale{
    border: solid;
    box-shadow: 0.5px 0.5px 10px #ffffff;
}

.border-shadow {
    text-shadow: 2px 3px 5px #b9b0b0;
}