/*Tipos de Radius*/

$logo: 50%;
$main: 8px;


.border-logo {
    border-radius: $logo !important;
    border: solid white;
    box-shadow: 0.5px 0.5px 10px #ffffff;
}

.border-main{
    border-radius: $main;
}

.border-container-bottom {
    border-bottom-style: solid;
    box-shadow: 3px 2px 6px #a59191;
}

.border-container-top {
    border-top-style: solid;
    box-shadow: 3px 2px 6px #a59191;
}